<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_favore_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_favore_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FavoreApp"
        tools:targetApi="31">
        <activity
            android:name=".views.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.FreelancerManageContracts"
            android:exported="false" />
        <activity
            android:name=".views.ClientContractDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.ClientContractsManagement"
            android:exported="false" />
        <activity
            android:name=".views.FreelancerConfigureFavorPost"
            android:exported="false" />
        <activity
            android:name=".views.NavBarActivity"
            android:exported="false" />
        <activity
            android:name=".views.SignInFreelancerActivity"
            android:exported="false" />
        <activity
            android:name=".views.ServiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.NewRequestActivity"
            android:exported="false" />
        <activity
            android:name=".views.SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".views.SearchServiceActivity"
            android:exported="false" />
        <activity
            android:name=".views.FreelancerFavorsManagementActivity"
            android:exported="false" />
        <activity
            android:name=".views.ConfigureAvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".views.AddFavorActivity"
            android:exported="false" />
        <activity
            android:name=".views.FreelancerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".views.ClientHomeActivity"
            android:exported="false" />
        <activity
            android:name=".views.PreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".views.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.SignInClientActivity"
            android:exported="false" />
        <activity
            android:name=".views.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".views.StartActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>